.notebook {
  display: flex;
  justify-content: center;
  float: left;
}

.panel {
  border: 1px solid black;
  height: 407px;
}

.panel ul {
  list-style: none;
}

.panel li {
  cursor: pointer;
}

.panel a {
  text-decoration: none;
}
