.notebook {
  display: flex;
  justify-content: center;
}

.panel {
  border: 1px solid black;
  height: 400px;
}

.panel ul {
  list-style: none;
}

.panel li {
  cursor: pointer;
}

/*.editor > form {
  display: flex;
  flex-flow: column wrap;
}*/
